{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>文章排行榜-简书统计</title>
    <!-- head 中 -->
    <link rel="stylesheet" href="{% static "vender/jquery-weui-build/dist/demos/css/demos.css" %}">
    <link rel="stylesheet" href="{% static "vender/jquery-weui-build/dist/lib/weui.min.css" %}">
    <link rel="stylesheet" href="{% static "vender/jquery-weui-build/dist/css/jquery-weui.min.css" %}">
</head>
<body>
<div style="height: 100%">

    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div id="article-count" class="weui-tab__bd-item weui-tab__bd-item--active"
                 style="padding-bottom: 60px;box-sizing: border-box;">
                article
            </div>
            <div id="zan-count" class="weui-tab__bd-item weui-tab__bd-item--active"
                 style="padding-bottom: 60px;box-sizing: border-box;">
                zan
            </div>
            <div id="comment-count" class="weui-tab__bd-item weui-tab__bd-item--active"
                 style="padding-bottom: 60px;box-sizing: border-box;">
                comment
            </div>
            <div id="setting" class="weui-tab__bd-item weui-tab__bd-item--active"
                 style="padding-bottom: 60px;box-sizing: border-box;">
                <header class="demos-header">
                    <h1 class="demos-title">统计时间设置</h1>
                </header>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cells weui-cells_form" style="margin-top: 0">
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label for="" class="weui-label">start</label></div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" type="date" value="">
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label for="" class="weui-label">end</label></div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" type="date" value="">
                            </div>
                        </div>
                    </div>
                    <div class="weui-cells__tips">设定的时间将用于排行榜的统计</div>

                </div>
                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">保存</a>
                </div>
            </div>
        </div>
        <div class="weui-tabbar">
            <a href="#article-count" class="weui-tabbar__item weui-bar__item--on">
                {#                <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>#}
                <div class="weui-tabbar__icon">
                    <img src="{% static "icon/article-icon.png" %}" alt="">
                </div>
                <p class="weui-tabbar__label">文章</p>
            </a>
            <a href="#zan-count" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="{% static "icon/zan-icon.png" %}" alt="">
                </div>
                <p class="weui-tabbar__label">赞</p>
            </a>
            <a href="#comment-count" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="{% static "icon/comment-icon.png" %}" alt="">
                </div>
                <p class="weui-tabbar__label">评论</p>
            </a>
            <a href="#setting" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="{% static "icon/setting-icon.png" %}" alt="">
                </div>
                <p class="weui-tabbar__label">设置</p>
            </a>
        </div>
    </div>
</div>
<!-- body 最后 -->
<script src="{% static "vender/jquery-weui-build/dist/lib/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "vender/jquery-weui-build/dist/js/jquery-weui.min.js" %}"></script>
<script>
    let start_time = '',
        end_time = '';
    window.onload = function () {
        start_time =
    }
</script>
</body>
</html>